form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"] {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: center;
}

input[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
input[type="date"],
input[type="data"] {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: center;
}
/*    CSS para estilização do formulário  */